body {
    background-color: #f2f2f2
}
#pais {

    height: 200px;
    width: 710px;
    background-image: url("Pildid/Pais.png");
    margin-left: auto;
    margin-right: auto;
}

#menuukast {
    height: 100px;
    background-color: #00ace6;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#nupukast {
    width: 630px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding:35px;

}
.menuunupp {
    font-size: 24px;
    color: black;
    background-color: #80ffff;
    font-family: "Century", "Comic Sans MS";
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
#sisu {
    background-color: #b3ecff;
    height: 600px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.menuunupp:hover {
    text-decoration: underline;
}
#valitud {
    padding-bottom: 36px;
}
#sisselogimisboks {
    width: 441px;
    position: relative;
    margin-left: auto;
    top: 170px;
    left: 30px;
}
.tekst {
    padding: 3px;
}