body {
    background-color: #f2f2f2
}

#header {
    height: 200px;
    width: 710px;
    background-image: url("Pildid/Pais.png");
    margin-left: auto;
    margin-right: auto;
}

#menubox {
    height: 100px;
    background-color: #00dfff;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#buttonbox {
    width: 630px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding:35px;
}

.menubutton {
    font-size: 24px;
    color: black;
    background-color: #80fdfe;
    font-family: Century, "Comic Sans MS", Serif;
    text-align: center;
    text-decoration: none;
    padding: 5px;

    border: 1px
}

#body {
    background-color: #b3ecf1;
    height: 600px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.menubutton:hover {
    text-decoration: underline;
}

#current {
    padding-bottom: 36px;
    text-decoration: none;
}

#loginbox {
    width: 540px;
    position: relative;
    margin-left: auto;
    top: 170px;
    left: 30px;
}

#maininfo {
    border: 6px solid #005522;
    background-color:  #0099ff;
    height:400px;
    width: 787px;
}

#insertsauts {

    border: 6px solid #005522;
    border-top: 0px;
    background-color: #0099ff;
    height: 182px;
    width: 787px;
    top: -600px;

}

.text {
    padding: 3px;
}

.header {
    font-family: "Century";
    font-size: 22px;
}

#sauts {
    width: 400px;
    resize: none;
}

#logoutbox {
    width: 300px;
    position: relative;
    margin-left: auto;
    top: 170px;
    left: 30px;
}

#table {
    width: 100%;
    border: 3px solid black;
    background-color: #6666ff;
}

#table td{
    word-wrap:break-word;
}

#table button {

    background-color: #0099ff;
    border: 2px solid black;

}

#table button:hover {
    border: 2px solid white;
}

#profiletable {
    border: 3px solid black;
    background-color: #6666ff;
}